<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" clear_params="true">
    <rosparam command="load" file="$(find trabfinal)/params/octomap_mapping.yaml" />
    <remap from="/cloud_in" to="/autoland/laser_cloud" />
    <remap from="/octomap_point_cloud_centers" to="/autoland/octomap_cloud" />
  </node>
</launch>
